* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --asosiy-orqa-fon: #F4F7FA;
    --asosiy-text: #262626;
    --yordamchi: #273895;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--asosiy-orqa-fon);
    color: var(--asosiy-text);
}

body a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo h1 {
    font-weight: 400;
    font-size: 17px;
    max-width: 100px;
    color: var(--yordamchi);
}

.logoBilanTekst {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    display: flex;
    gap: 15px;
    align-items: center;
}

.link a {
    color: var(--yordamchi);
    font-weight: 600;
}

.link button {
    background-color: var(--yordamchi);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    border: 0;
}